h1 {
  text-align: center;
}

p {
  position: relative;
  top: 5px;
}

.center_text {
  text-align: center;
}
.form_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
}

.smallButton {
  width: 100px !important;
  margin: 10px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #19b37a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  border: 3px solid #f1f1f1;
  width: 700px;
  padding: 16px;
}

.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.signup_result {
  border: 3px solid #f1f1f1;
  width: 400px;
  position: relative;
  left: 500px;
  padding-left: 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
